#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background: url('../images/bg.jpg') no-repeat center;
  background-size: cover;
}

.el-centereto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.el-nice {
  display: block;
  padding: 60px 0 140px 0;
  background-color: #f2f2f2;
}

.el-friends {
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

.el-hello {
  display: block;
  padding: 40px 0;
}

.el-companies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0;
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.el-why {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 0 100px 0;
  &__card {
    display: inline-block;
    &_1 {
      margin-top: 40px;
    }
    &_3 {
      margin-top: 26px;
    }
    img {
      max-width: 100%;
    }
  }
}

.el-price {
  display: block;
  padding: 95px 0 75px 0;
  background-color: #ededed;
  &__title {
    display: block;
    margin-bottom: 32px;
    font-size: 40px;
    text-transform: uppercase;
    color: #0e0e0e;
    font-weight: 400;
    text-align: center;
    span {
      color: #438432;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 815px;
    margin: 0 auto 28px auto;
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__download {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 45px auto 0 auto;
    padding: 16px;
    border-radius: 3px;
    background-color: #e5c332;
    background-image: linear-gradient(to top, #e1ae2e 0%, rgba(225, 174, 46, 0) 100%);
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #f39c12;
      text-decoration: none;
    }
    span {
      margin-left: 18px;
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.78;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 370px;
    margin-bottom: 20px;
    padding: 45px 14px 20px 20px;
    box-shadow: 2px 14px 29px rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    background-color: #ffffff;
    &-price {
      display: block;
      margin-bottom: 18px;
      color: #5c833a;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -2px;
    }
    &-header {
      display: block;
      margin-bottom: 30px;
      text-align: center;
      p {
        display: block;
        margin-bottom: 16px;
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
      }
    }
    &-info {
      display: block;
      margin-top: 4px;
      color: #6d6d6d;
      font-size: 17px;
    }
    &-feature {
      display: block;
      position: relative;
      margin-bottom: 20px;
      padding-left: 30px;
      color: #000000;
      font-size: 22px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 21px;
        height: 21px;
        left: 0;
        top: 3px;
        background: url('../images/icon_check.png') no-repeat center;
        background-size: contain;
      }
      ul {
        display: block;
        margin-top: 6px;
        list-style: none;
        color: #6e6c6c;
        font-size: 17px;
        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 15px;
          &:before {
            display: block;
            position: absolute;
            content: '￭';
            top: 0;
            left: 0;
            color: #5c833a;
          }
        }
      }
    }
  }
}

.el-model {
  display: block;
  padding: 100px 0 65px 0;
  background: url('../images/model_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    span {
      color: #5c833a;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 450px;
    margin: 0 auto 55px auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 240px;
    margin-bottom: 30px;
    text-align: center;
    img {
      margin-bottom: 30px;
    }
    &-title {
      display: block;
      margin-bottom: 14px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }
    p {
      opacity: 0.5;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.el-goods {
  display: block;
  padding: 80px 0 90px 0;
  background-color: #ffffff;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 550px;
    margin-bottom: 100px;
    &-zoom {
      display: block;
      position: absolute;
      width: 29px;
      height: 29px;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      background: url('../images/icon_zoom.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
    }
    &-slick {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 150px;
      img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        object-fit: contain;
      }
      .slick-prev {
        top: 48%;
        left: 0;
        right: auto;
        width: 12px;
        height: 18px;
        margin-left: -20px;
        z-index: 1;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.6;
          text-decoration: none;
        }
      }
      .slick-next {
        top: 48%;
        left: auto;
        right: 0;
        width: 12px;
        height: 18px;
        margin-right: -20px;
        z-index: 1;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.6;
          text-decoration: none;
        }
      }
    }
    &-left {
      display: inline-block;
      width: 225px;
      margin-right: 40px;
    }
    &-right {
      display: inline-block;
      max-width: 100%;
    }
    &-price {
      display: block;
      margin-top: 14px;
      color: #5c833a;
      font-size: 24px;
      font-weight: 700;
    }
    &-tree {
      display: block;
      position: relative;
      width: 100%;
      height: 270px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        .el-goods__card-zoom {
          transform: scale(0.8);
        }
      }
    }
    &-title {
      display: block;
      margin-bottom: 28px;
      color: #5c833a;
      font-size: 30px;
      font-weight: 400;
      line-height: 0.93;
      text-transform: uppercase;
    }
    &-description {
      display: block;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: -1px;
      strong,
      b {
        color: #5c833a;
      }
    }
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #0e0e0e;
    font-weight: 400;
    text-align: center;
    span {
      color: #438432;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 812px;
    margin: 0 auto 45px auto;
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
}

.el-reviews {
  display: block;
  padding: 95px 0 0 0;
  background-color: #ffffff;
  img {
    max-width: 100%;
  }
  &__title {
    display: block;
    margin-bottom: 32px;
    font-size: 40px;
    text-transform: uppercase;
    color: #0e0e0e;
    font-weight: 400;
    text-align: center;
    span {
      color: #438432;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 810px;
    margin: 0 auto 55px auto;
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 520px;
    margin-bottom: 80px;
    &-left {
      display: block;
      width: 100%;
      max-width: 145px;
      margin-right: 35px;
      &>img {
        max-width: 100%;
        margin-bottom: 15px;
      }
      &>iframe {
        margin-bottom: 15px;
      }
    }
    &-right {
      display: block;
      width: 100%;
      p {
        display: block;
        margin-bottom: 20px;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.44;
      }
    }
    &-title {
      display: block;
      margin-bottom: 10px;
      color: #862626;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.8;
      text-transform: uppercase;
      font-weight: 300;
      strong,
      b {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
      }
    }
    &-from {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.44;
      strong,
      b {
        font-weight: 700;
      }
    }
    &-photo {
      display: block;
      max-width: 100%;
      margin-bottom: 25px !important;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-show {
      display: flex;
      align-items: center;
      position: relative;
      color: #5c833a;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &>img {
        display: inline-block;
        margin-left: 8px;
        margin-top: 4px;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #5c833a;
        text-decoration: none;
      }
    }
  }
}

.el-profit {
  display: block;
  padding: 100px 0 0 0;
  background: url('../images/friends_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    span {
      color: #438432;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 815px;
    margin: 0 auto 100px auto;
    opacity: 0.34;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 225px;
    margin-bottom: 95px;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 85px 40px 20px 40px;
    text-align: center;
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 188px;
      height: 188px;
      margin-left: -94px;
      margin-top: -78px;
      object-fit: contain;
    }
    &-title {
      display: block;
      margin-bottom: 15px;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    p {
      display: block;
      color: #595959;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
    }
  }
}

.el-team {
  display: block;
  padding: 95px 0 35px 0;
  background-color: #ffffff;
  img {
    max-width: 100%;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    text-align: center;
    span {
      color: #5c833a;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 815px;
    margin: 0 auto 30px auto;
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  ul {
    display: block;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin-bottom: 30px;
      padding-left: 50px;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      &:before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        margin-top: -14px;
        width: 28px;
        height: 28px;
        background: url('../images/icon_check_2.png') no-repeat center;
        background-size: contain;
      }
    }
  }
}

.el-videos {
  display: block;
  padding: 55px 0 80px 0;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
  iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.el-seo {
  display: block;
  padding: 100px 0 60px 0;
  background-color: #f7f7f7;
  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    text-align: center;
    span {
      color: #5c833a;
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    max-width: 815px;
    margin: 0 auto 60px auto;
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
  }
  &__article {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 910px;
    color: #010101;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
  }
}

.el-gallery {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  &__card {
    display: block;
    width: 187px;
    height: 144px;
    margin: 0 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slick-prev {
    top: 48%;
    left: 0;
    right: auto;
    width: 25px;
    height: 43px;
    margin-left: -80px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  .slick-next {
    top: 48%;
    left: auto;
    right: 0;
    width: 25px;
    height: 43px;
    margin-right: -80px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.el-footer {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
  width: 100%;
  &__container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 715px;
    height: 100%;
    padding: 65px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  &__title {
    display: block;
    margin: 0 0 12px 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }
  &__small-social {
    margin-right: 2px !important;
  }
  &__price {
    display: inline-block;
    color: #438430 !important;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #438430;
      text-decoration: none;
    }
  }
  &__gallery {
    display: block;
    margin: 20px 0 5px 0;
    img {
      display: inline-block;
      width: 225px;
      height: 195px;
      max-width: 100%;
      margin-right: 10px;
      border-radius: 3px;
      object-fit: cover;
    }
  }
  &__social {
    display: block;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
  }
  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    &>div:first-child {
      width: 30px;
    }
    p {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
    a {
      display: inline-block;
      margin-right: 5px;
      color: #161515;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
      strong,
      b {
        color: #161515;
        font-size: 21px;
        font-weight: 700;
      }
    }
  }
}

.el-header {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #f7f7f7;
  z-index: 199;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__small-social {
    margin-right: 2px !important;
  }
  &__logo {
    padding-left: 33px;
    background: url('../images/logo.png') no-repeat left center;
    background-size: auto;
    &-title {
      display: block;
      margin-bottom: 4px;
      color: #428430;
      font-family: "DIN Pro - Condensed Black";
      font-size: 28px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
    p,
    h1 {
      margin: 0;
      color: #717171;
      font-family: "DIN Pro - Condensed Black";
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    a {
      display: inline-block;
      padding: 4px 10px;
      color: #011926;
      font-size: 18px;
      font-weight: 400;
      font-weight: 400;
      line-height: 1;
      strong,
      b {
        color: #6f9e47;
        font-weight: 700;
      }
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #6f9e47;
        text-decoration: none;
      }
    }
  }
  &__row {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    &-line {
      display: flex;
      align-items: center;
      p {
        margin: 2px 0 0 0;
        color: rgba(47, 47, 47, 0.48);
        font-size: 12px;
        letter-spacing: 0.5px;
      }
      &:first-child {
        margin-bottom: 0;
      }
      &>div:first-child {
        display: inline-flex;
        align-items: center;
        width: 24px;
      }
      a {
        display: inline-block;
        margin-right: 5px;
        color: #161515;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
        strong,
        b {
          color: #161515;
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
  }
}

.el-title_h5 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
  span {
    color: #3B9616;
  }
}