.navbar {
  min-height: auto;
  margin: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  margin-right: 0;
}

.clear,
.clear:after,
.clear:before {
  content: none !important;
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before {
  display: none;
}


/*
  Далее идет код одного из ведущих разработчиков Google
*/


/* bootstrap hack: fix content width inside hidden tabs */

.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow-y: hidden;
  /* no-overflow                */
}

.tab-content>.active,
.pill-content>.active {
  height: auto;
  /* let the content decide it  */
}


/* bootstrap hack end */

.nav-tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 0;
}

.tab-content {
  padding: 60px 0 0 0;
}

.nav-tabs>li>a {
  display: inline-block;
  width: 125px;
  margin: 0 5px;
  padding: 6px 30px;
  border-radius: 999rem;
  border: 1px solid #5c833a;
  background-color: transparent;
  color: #5c833a;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  display: inline-block;
  width: 125px;
  border-radius: 999rem;
  border: 1px solid #5c833a;
  background-color: #5c833a;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

p {
  margin: 0;
}

.activity {
  font-size: 33px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

h1 .din_bold,
.activity .din_bold {
  color: #3B9616;
  font-weight: 700;
}

h2.din_bold {
  margin-bottom: -30px;
}

.activity .diin_bold {
  font-size: 22px;
  color: #FFFFFB;
  margin-top: 0;
}

.form_wrap {
  display: block;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  background: url('../images/bg1234.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.form_wrap .res {}

.count_down {
  border-radius: 4px;
  position: absolute;
  left: 45%;
  top: 90px;
  margin-left: -276px;
  background: url('../images/ie_count_bg.png');
  background: rgba(68, 63, 61, 0.7);
  color: #fff;
  padding: 15px 20px 0 17px;
}

.count_down.cc {
  background: none repeat scroll 0 0 rgba(68, 63, 61, 0.7);
  border-radius: 4px;
  color: #fff;
  left: 45%;
  margin-left: -186px;
  padding: 0;
  position: absolute;
  top: 90px;
}

span.yellow {
  background-color: rgb(255, 226, 21);
  color: rgba(0, 0, 0, 0.82);
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
}

.count_down .first_line {
  margin-bottom: 7px;
  padding-left: 112px;
  font-size: 20px;
  text-shadow: 1px 1px 5px #464646;
  text-align: center;
}

.count_down .first_line .num {
  float: left;
  margin-left: -112px;
  font-size: 80px;
  line-height: 80px;
  margin-top: -5px;
  font-weight: 700;
  letter-spacing: -5px;
}

.counter {
  padding-left: 124px;
  min-height: 87px;
}

.counter .desc {
  float: left;
  margin-left: -115px;
  padding-top: 9px;
  padding-right: 13px;
  text-align: right;
  font-size: 20px;
}

.form_bg {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: 180px;
  width: 290px;
  padding: 11px 26px;
  margin-bottom: -52px;
  border-radius: 4px;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #f5f5f5), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* W3C */
  /* IE6-9 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.form_bg>.name {
  padding: 7px 0 10px;
  margin: 0 -28px 7px;
  background: #e3e3e3;
  background: rgba(123, 123, 123, 0.2);
  text-align: center;
  font-size: 20px;
  color: #443f3d;
}

.form_bg form input[type="text"] {
  width: 100%;
  padding: 2px 15px 2px;
  margin-bottom: 7px;
  margin-left: 2px;
  border: 1px solid #c9c9c9;
  border-top-color: #ebebeb;
  border-left-color: #ebebeb;
  box-shadow: -1px -1px 0 1px #cacaca;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18px;
  color: #7b7b7b;
}

.form_bg form input[type="text"].picted {
  background: url('../images/form_name.png') 10px 50% no-repeat;
  padding-left: 37px;
}

.form_bg form input[type="text"].picted.comp {
  background-image: url('../images/form_company.png');
}

.form_bg form input[type="text"].picted.tel {
  background-image: url('../images/form_tel.png');
}

.form_bg form input[type="text"].picted.mail {
  background-image: url('../images/form_mail.png');
}

.form_bg form .but {
  width: 100%;
  margin: 7px 0 10px;
}

.form_bg .note {
  font-size: 12px;
  color: #7b7b7b;
  text-align: center;
}

.form_bg1 {
  position: absolute;
  top: 40px;
  left: 25%;
  margin-left: 180px;
  width: 290px;
  padding: 11px 26px;
  margin-bottom: -52px;
  border-radius: 4px;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #f5f5f5), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #f5f5f5 50%, #ebebeb 100%);
  /* W3C */
  /* IE6-9 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.form_bg1>.name {
  padding: 7px 0 10px;
  margin: 0 -28px 7px;
  background: #e3e3e3;
  background: rgba(123, 123, 123, 0.2);
  text-align: center;
  font-size: 20px;
  color: #443f3d;
}

.form_bg1 form input[type="text"] {
  width: 100%;
  padding: 7px 15px 5px;
  margin-bottom: 7px;
  margin-left: 2px;
  border: 1px solid #c9c9c9;
  border-top-color: #ebebeb;
  border-left-color: #ebebeb;
  box-shadow: -1px -1px 0 1px #cacaca;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18px;
  color: #7b7b7b;
}

.form_bg1 form input[type="text"].picted {
  background: url('../images/form_name.png') 10px 50% no-repeat;
  padding-left: 37px;
}

.form_bg1 form input[type="text"].picted.comp {
  background-image: url('../images/form_company.png');
}

.form_bg1 form input[type="text"].picted.tel {
  background-image: url('../images/form_tel.png');
}

.form_bg1 form input[type="text"].picted.mail {
  background-image: url('../images/form_mail.png');
}

.form_bg1 form .but {
  width: 100%;
  margin: 7px 0 10px;
}

.form_bg1 .note {
  font-size: 12px;
  color: #7b7b7b;
  text-align: center;
}

.but {
  cursor: pointer;
  border: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: #f1c40f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1c40f 0%, #f2b011 50%, #f39c12 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1c40f), color-stop(50%, #f2b011), color-stop(100%, #f39c12));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1c40f 0%, #f2b011 50%, #f39c12 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1c40f 0%, #f2b011 50%, #f39c12 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1c40f 0%, #f2b011 50%, #f39c12 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f1c40f 0%, #f2b011 50%, #f39c12 100%);
  /* W3C */
  /* IE6-9 */
  border-radius: 3px;
  padding: 0 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #db7d07;
}

.but:hover {
  background: #f39c12;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f39c12 0%, #e99510 50%, #dc8c0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39c12), color-stop(50%, #e99510), color-stop(100%, #dc8c0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f39c12 0%, #e99510 50%, #dc8c0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f39c12 0%, #e99510 50%, #dc8c0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f39c12 0%, #e99510 50%, #dc8c0e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f39c12 0%, #e99510 50%, #dc8c0e 100%);
  /* W3C */
  /* IE6-9 */
  transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}

.din_bold {
  font-family: "DIN Pro";
  font-weight: 700;
}

.zagotext {
  position: absolute;
  width: 240px;
}

.zagotext h3 {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 18px;
}

.zagotext p {
  margin: 0;
  font-size: 16px;
}

.clients {
  text-align: justify;
  text-justify: newspaper;
  margin-top: -20px;
  margin: 0 auto 23px;
  padding: 0;
  list-style: none;
}

.clients:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.clients li {
  display: inline-block;
  vertical-align: middle;
}